Here are all the users:
<ul>
<% users.forEach( (user) => { %>

<li> <b>Name</b> = <%= user.name %> <br>
     <b>Email</b> = <%= user.email %> <br>
     <b>School</b> = <%= user.school %> <br> 
     <b>Posts</b> = <%= user.post_ids %> <br>
     <b>Bio</b> = <%= user.bio %> <br>
     <b>Phone Number</b> = <%= user.phoneNumber %> <br>
     <b>Points</b> = <%= user.point %> <br>
     <b>Rank</b> = <%= user.rank %> <br> <br>
     </li>

<% }); %>
</ul>


ne;